*{
  box-sizing: border-box;
  color: white;
}
body{
  margin: 0px;
  background-color: #2A0042;
}
.header-container{
  display: flex;
  position: fixed;
  flex-direction: row;
  width: 100vw;
  height: 85px;
  z-index: 1;
}

.Logo-Header{
  display: flex;
  padding-left: 2rem;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.home-container{
  display: flex;
  padding-top: 90px;
  width: 100vw;
  height: 800px;
}

.about-me-container{
  display: flex;
  width: 100vw;
  height: 800px;
}

.portfolio-container{
  display: flex;
  width: 100vw;
  height: 800px;
}

.skills-container{
  display: flex;
  width: 100vw;
  height: 800px;
}
.title{
  font-size: 40px;
  font-weight: semibold;
  left: 50%;
  position: absolute;
  font-weight: 600;
  width: 167px;
  height: 48px;
  margin: 0 auto 30px;
  position: relative;
  left: auto;
}   
.skills{
  color: orangered;
}
.underline{
  width: 225px;
  height: 2px;
  background-color: #d9d9d9;
  position: relative;
  margin: 5px auto 50px;
  left: auto;
}
.skill-container {
  display: flex;
  align-items: center;
  width: 1138px;
  height: 31px;
  margin-top: 50px;
  margin-left: 25%;
}

.skill-name {
  width: 150px; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.progress-bar {
  flex-grow: 1;
  height: 20px;
  background-color: #2b1c30;
  border-radius: 10px;
  margin: 0 10px;
  overflow: hidden; 
}

.progress {
  height: 85%;
  background-color: #cf471e; 
  border-radius: 10px;
  transition: width 0.5s ease; 
  align-items: center;
}

.skill-percent {
  width: 40px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

.service-container{
  display: flex;
  width: 100vw;
  height: 800px;
}

.contact-container{
  display: flex;
  width: 100vw;
  height: 800px;
}

.logo-name{
  display: flex;
  flex: 1;
}

nav{
  display: flex;
  flex: 2;
  justify-content: center;
}
ul{
  list-style: none;
  padding: 0;
  align-self: center;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
}

nav ul li{
  display: flex;
}
nav ul li a{
  text-decoration: none;
}

.hire-me{
  display: flex;
  flex: 1;
}

.hire-me button{
  background-color: white;
  border: none;
  border-radius: 50px;
  width: 150px;
  height: 40px;
  margin: 20px;
  padding: 0px;
  cursor: pointer;
  color: black;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 300;
  font-size: 16px;
}

.hire-me button:hover{
  background-color: rgb(255, 255, 255,80%);
}


div.header-container,.about-me-container,.skills-container,.contact-container{
    background-color: #090042;
}


footer{
  display: flex;
  width: 100vw;
  height: 100px;
}
